@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'DM Serif Display', serif;
}

#mapid { height: 180px; }

.leaflet-container {  width: 100vw;  height: 100vh; }

.form-map {
  width: 100%;
  height: 400px;
}

@media (max-width: 992px) {
  .form-map {
    width: 30rem;
    height: 400px;
  }
}

.ant-btn-primary {
  background: #0001fc;
  border: none;
}

.ant-btn-primary:hover {
  background: #3d4dff;
  border: none;
}

.ant-btn-link {
  color: #0001fc;
  border: none;
}

.ant-btn-link:hover {
  color: #3d4dff;
  border: none;
}

.leaflet-search-wrap.leaflet-control, .leaflet-top.leaflet-left {
  width: 100% !important;
}

.ant-form-item-label {
  white-space: normal;
}

.site-layout-content {
  padding: 50px
}


@media(max-width: 768px){
  .ant-layout-header {
    padding: 0
  }
  .update-object-form .ant-form-item-label {
    padding: 20px 10px;
  }
}